<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnKotlin"
        tools:targetApi="31">
        <activity
            android:name=".Activity.DeleteFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OutForDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RecentOrderItemsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PayOutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PendingOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AllItemActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ListFoodsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainJavaActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.DoAnKotlin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>